body{
  margin: 0px;
  background-color:#d9d9e9;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navbar {
  display: flex;
  padding: 25px;
  background-color: rgb(10, 16, 66);
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px rgb(128, 128, 128);
}
.Logo{
  height: 100px;

}
.menu{
  width: 500px;
  margin-top: 20px;
  margin-left: 45px;
  display: flex;
  justify-content: space-evenly;
}

.menu li{
  padding: 2px;
  width: 60px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;

}
.menu li button{
  background-color:transparent;
  font-size: 12px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
}

.menu li:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.ventas{
  color:rgb(29, 29, 29);
  display: flex;
  font-size: 40px;
  justify-content: center;
}


/* Estilos del body */

/*estilos panel izquierdo*/

.paneles{
  display: flex;
  margin: 20px;
  height: 500px;
  width: 1300px;
}

.subPanel{
  border: 2px solid black;
  padding:20px;

}
.idFactura{
  padding: 10px;
}


.bloqueProductos{
  padding: 40px 0px 40px;
  
  display: grid;
  grid-column: auto;
  grid-template-rows: 50px 30px;
  grid-template-columns: 88px 88px 88px 88px 88px 88px 88px;

}

.bloqueProductos li {
  display: flex;
  border: 1px solid black;
  font-size: 13px;
  justify-content:center;
  background-color: white;
}
.bloqueProductos li button{
  background-color: transparent;
  border: none;
}
.bloqueProductos li button:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.vendedor{
  margin: 0px 360px 0px 0px;
  padding:10px 0px 30px ;
  
  
}
.vendedor input{
  margin: 0px 5px 40px;
  padding: 2px 0px 10px;
  
}
/* estilos panel derecho */

.facturaFecha{
  display: flex;
  justify-content: space-between;
}
.facturaFecha input{
  margin-top: 10px;
  height: 30px;
  
}
.CC-nombre input{
  margin-top: 10px;
  height: 30px;
  width: 290px;
  
}
.nombre-apellido{
  margin: 10px;

}

.titulos{
margin-bottom: 0px;
}

.idProducto{
  margin-top: 10px;
  height: 30px;
  width: 290px;
  margin-right: 100px;
}
.dProducto{
  margin-top: 10px;
  height: 30px;
  width: 600px;

}
.precio{
  margin: 30px 100px 0px 0px;
  height: 30px;
  width: 290px;

}
.cantidad{
  height: 30px;
  width: 200px;
}
.agregarProducto{
  background: none;
  margin: 30px 0px 0px 426px;
  height: 60px;
  width: 180px;
  display: flex;
  align-items: center;
}
.agregarProducto img{
  height: 40px;
}