body{
  margin: 0px;
  background-color:#d9d9e9;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navbar {
  display: flex;
  padding: 25px;
  background-color: rgb(10, 16, 66);
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px rgb(128, 128, 128);
}
.Logo{
  height: 100px;

}
.menu{
  width: 500px;
  margin-top: 20px;
  margin-left: 45px;
  display: flex;
  justify-content: space-evenly;
}

.menu li{
  padding: 2px;
  width: 60px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;

}
.menu li button{
  background-color:transparent;
  font-size: 12px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
}

.menu li:hover{
  cursor: pointer;
  transform: scale(1.05);
}
/* Estilo del titulo*/
.titulo{

  color:rgb(151, 26, 224);
  display: flex;
  font-size: 60px;
  justify-content: center;
  text-shadow: 1px 2px rgba(158, 156, 156, 0.705);
  margin-bottom: 20px;
}


/* Estilos del body */

.fecha{
  display: flex;
  justify-content:center;
  margin-right: 180px;
}
.fecha input{
  margin: 20px;
}

.usuario{
  display: flex;
  justify-content:center;
  margin: 2px 350px 0px 0px;
}
.cedula{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

}
.cedula input{
  margin: 10px;
  padding: 8px;
  width: 180px;
}
.cedula select{
  margin: 10px;
  padding: 8px;
  width: 200px;
}
.cedula select:hover{
  cursor: pointer;
}

.rol{
  font-size: 20px;
  color: white;
  padding: 10px 50px;
  background-color: rgb(10, 16, 66);
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px rgb(128, 128, 128);
  margin-top: 50px;
  
}
.botonRol{
  display: flex;
  justify-content: center;
  
}
.rol:hover{
cursor: pointer;
transform: scale(1.009);
}
