body{
  margin: 0px;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navbar {
  display: flex;
  padding: 10px;
  background-color: rgb(10, 16, 66);
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px rgb(128, 128, 128);
}
.Logo{

  height: 60px;

}

.menu{
  width: 300px;
  margin-left: 80px;
  display: flex;
  justify-content: space-evenly;
}

.menu li{
  padding: 2px;
  width: 40px;
  height: 50px;
  display: flex;
  flex-direction: column;


}
.menu li button{
  background-color:transparent;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
}

